<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.mirea.ecoctrl"
    tools:ignore="CoarseFineLocation">

    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="31" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoCtrl">
        <activity
            android:name=".views.activities.PlistActivity"
            android:exported="true" />
        <activity
            android:name=".views.activities.UsrActivity"
            android:exported="true" />
        <activity
            android:name=".views.activities.MapActivity"
            android:exported="true" />
        <activity
            android:name=".views.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="http"
                    android:host="rf.ecoctrl_app"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="api.ipstack.com"
            android:value="6fa7f9ae3ab971ba6266043f8b706a37" />
        <meta-data
            android:name="https://api.apilayer.com/ip_to_location/API_KEY"
            android:value="0L8aH15E0XYLDVPaq3sB7EYHBKd0AVDU" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCFsUanJ814h2uIDDjc4NtHncsMvrVKusE" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>